{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta name="author" content="xd">
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Home Page{% endblock %}</title>
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "css/main.css" %}" rel="stylesheet">
    </head>
    <body>
        <div id="nav">
            {% block nav %}
            <div id="navbar-example" class="navbar navbar-static">
                <div class="navbar-inner">
                    <div class="container" style="width: auto;">
                        <a class="brand" href="/">ADong</a>
                        <ul class="nav" role="navigation">
                            <li>
                            <a href="/blog">Blog</a>
                            </li>
                            <li class="dropdown">
                            <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                <li><a tabindex="-1" href="http://google.com">Action</a></li>
                                <li><a tabindex="-1" href="#anotherAction">Another action</a></li>
                                <li><a tabindex="-1" href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="#">Separated link</a></li>
                            </ul>
                            </li>
                        </ul>
                        <ul class="nav pull-right">
                            {% if user.is_authenticated %}
                            <li id="fat-menu" class="dropdown">
                            <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }}<b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                                <li><a tabindex="-1" href="/accounts/changepwd">{% trans "修改密码" %}</a></li>
                                <li><a tabindex="-1" href="/accounts/profile">{% trans "我的资料" %}</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="/accounts/logout">{% trans "注销" %}</a></li>
                            </ul>
                            </li>
                            {% else %}
                            <li>
                            <form action="/accounts/login" class="pull-right" method="post" id="login-form" style="margin:5px 0 0 0;">
                                <input type="text" name="username" placeholder="Username" required="required"/>
                                <input type="password" name="password" placeholder="Password" required="required"/>
                                {% csrf_token %}
                                <button style="margin:0;" class="btn" type="submit" >{% trans "登录" %}</button>
                            </form>
                            </li>
                            <li>
                            <a href="/signup/">{% trans "注册" %}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
        <div id="content">
            {% block content %} {% endblock %}
        </div>
        <div id="footer" style="margin:auto;width:900px;text-align:center;">
            <hr />
            &copy;2012 ADong | <a href="home/help">Help</a>
        </div>
        <script src="{% static "js/jquery-1.8.3.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
    </body>
</html>
