{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<form action='' method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="control-group {% if form.old_password.errors %} error {% endif %}">
        <label class="control-label" for="old_password">{% trans "原始密码" %}</label>
        <div class="controls">
            <input type="password" id="old_password" name="old_password" autocomplete="off">
            {% if form.old_password.errors %}
            <span class="help-inline">{{ form.old_password.errors.0 }}</span>
            {% endif %}
        </div>
    </div>
    <div class="control-group {% if form.new_password1.errors %} error {% endif %}">
        <label class="control-label" for="new_password1">{% trans "新密码" %}</label>
        <div class="controls">
            <input type="password" id="new_password1" name="new_password1">
            {% if form.new_password1.errors %}
            <span class="help-inline">{{ form.new_password1.errors.0 }}</span>
            {% endif  %}
        </div>
    </div>
    <div class="control-group {% if form.new_password2.errors %} error {% endif %}">
        <label class="control-label" for="new_password2">{% trans "确认密码" %}</label>
        <div class="controls">
            <input type="password" id="new_password2" name="new_password2" >
            {% if form.new_password2.errors %}
            <span class="help-inline">{{ form.new_password2.errors.0 }}</span>
            {% endif %}
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans "保存" %}</button>
        <button type="submit" class="btn">{% trans "取消" %}</button>
    </div>
</form>
{% endblock %}
