{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div id="main">
    <h1>Adong Super Market</h1>
    <p>apt-fast 是一款替代 apt-get 提升下载速度的软件，安装软件时，通过增加线程使下载软件速度加快。 Apt-fast 已经更新到1.6.4版本，引入配置“对话框”，在其安装过程中，一步步对话框选择设置，每个用户的配置选项，从而改善和清晰化Apt-fast的初始配置过程。</p> 
    <a href="#regModal" role="button" data-toggle="modal" class="btn btn-large btn-success">{% trans "立即注册 >>" %}</a>
   
</div>
<div id="regModal" class="modal hide fade" tabindex="-1" role="dialog" aria_labelledby="regModelLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="regModelLabel">{% trans "注册" %}</h3>
    </div>
    <form action="/signup/" method="post">
        {% csrf_token %}
        <div class="modal-body">
            <table>
            {{ form }}
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans '关闭' %}</button>
            <button class="btn btn-primary">{% trans '确定' %}</button>
        </div>
    </form>
</div>

{% endblock %}
